In [1]:
import pandas as pd

In [2]:
nov1to7 = pd.read_json('nov1to7.json', encoding='utf-8')
nov7to14 = pd.read_json('nov7to14.json', encoding='utf-8')
nov14to21 = pd.read_json('nov14to21.json', encoding='utf-8')
nov21to28 = pd.read_json('nov21to28.json', encoding='utf-8')
nov28todec5 = pd.read_json('nov28todec5.json', encoding='utf-8')
dec5todec12 = pd.read_json('dec5todec12.json', encoding='utf-8')
dec12todec19 = pd.read_json('dec12todec19.json', encoding='utf-8')
dec19todec26 = pd.read_json('dec19todec26.json', encoding='utf-8')
dec26tojan02 = pd.read_json('dec26tojan02.json', encoding='utf-8')
jan02to09 = pd.read_json('jan02to09.json', encoding='utf-8')
jan09to16 = pd.read_json('jan09to16.json', encoding='utf-8')
jan16to23 = pd.read_json('jan16to23.json', encoding='utf-8')
jan23to30 = pd.read_json('jan23to30.json', encoding='utf-8')
jan30tofeb06 = pd.read_json('jan30tofeb06.json', encoding='utf-8')
feb06to13 = pd.read_json('feb06to13.json', encoding='utf-8')
feb13to20 = pd.read_json('feb13to20.json', encoding='utf-8')
feb20to27 = pd.read_json('feb20to27.json', encoding='utf-8')
feb27tomar06 = pd.read_json('feb27tomar06.json', encoding='utf-8')
mar06to13 = pd.read_json('mar06to13.json', encoding='utf-8')
mar13to20 = pd.read_json('mar13to20.json', encoding='utf-8')
mar20to27 = pd.read_json('mar20to27.json', encoding='utf-8')
mar27toapr03 = pd.read_json('mar27toapr03.json', encoding='utf-8')
apr03to10 = pd.read_json('apr03to10.json', encoding='utf-8')
apr10to17 = pd.read_json('apr10to17.json', encoding='utf-8')
apr17to24 = pd.read_json('apr17to24.json', encoding='utf-8')
apr24tomay01 = pd.read_json('apr24tomay01.json', encoding='utf-8')
may01to08 = pd.read_json('may01to08.json', encoding='utf-8')
may08to15 = pd.read_json('may08to15.json', encoding='utf-8')
may15to22 = pd.read_json('may15to22.json', encoding='utf-8')
may22to29 = pd.read_json('may22to29.json', encoding='utf-8')
may29tojun05 = pd.read_json('may29tojun05.json', encoding='utf-8')
jun05to12 = pd.read_json('jun05to12.json', encoding='utf-8')
jun12to19 = pd.read_json('jun12to19.json', encoding='utf-8')

In [18]:
master_merged = pd.concat([nov1to7, nov7to14, nov14to21, nov21to28, nov28todec5, dec5todec12, 
                          dec12todec19, dec19todec26, dec26tojan02, jan02to09, jan09to16, jan16to23, 
                          jan23to30, jan30tofeb06, feb06to13, feb13to20, feb20to27, feb27tomar06, 
                          mar06to13, mar13to20, mar20to27, mar27toapr03, apr03to10, apr10to17, 
                          apr17to24, apr24tomay01, may01to08, may08to15, may15to22, may22to29, may29tojun05,
                          jun05to12, jun12to19], ignore_index=True)

master_merged.head()

,fullname,html,is_retweet,likes,replies,retweet_id,retweeter_userid,retweeter_username,retweets,text,timestamp,timestamp_epochs,tweet_id,tweet_url,user_id,username
0,Radd Max,"<p class=""TweetTextSize js-tweet-text tweet-te...",0,0,1,,,,0,The one on Netflix? I watched all of it thursd...,2018-11-03 23:59:56,2018-11-03 23:59:56,1058871431046545408,/jimblejimble456/status/1058871431046545408,1030975487206670336,jimblejimble456
1,Nerdperior üíñ,"<p class=""TweetTextSize js-tweet-text tweet-te...",0,1,1,,,,0,its November 1st and Netflix covered with Chri...,2018-11-03 23:59:43,2018-11-03 23:59:43,1058871377552441344,/Nerdperior/status/1058871377552441344,850461969052258304,Nerdperior
2,Izzy | King Of Xmasüëë‚ùÑüéÖ,"<p class=""TweetTextSize js-tweet-text tweet-te...",0,3,1,,,,0,Lol just before The Chilling Adventures of Sab...,2018-11-03 23:59:34,2018-11-03 23:59:34,1058871338851536896,/IzzyIceThunder/status/1058871338851536897,903444669413117952,IzzyIceThunder
3,Jonny Martin,"<p class=""TweetTextSize js-tweet-text tweet-te...",0,0,0,,,,0,"Thank you, @netflix, for getting the licensing...",2018-11-03 23:59:28,2018-11-03 23:59:28,1058871311773110272,/RealJonnyMartin/status/1058871311773110272,74865990,RealJonnyMartin
4,June Wicks,"<p class=""TweetTextSize js-tweet-text tweet-te...",0,0,0,,,,0,TFW you hear yourself ask your husband to sear...,2018-11-03 23:59:27,2018-11-03 23:59:27,1058871309206200320,/junekwicks/status/1058871309206200320,850811280449564672,junekwicks

In [19]:
master_merged['timestamp'] = pd.to_datetime(master_merged['timestamp']).dt.date

In [20]:
clean = master_merged[['timestamp','likes','retweets','text']]
clean.head()

,timestamp,likes,retweets,text
0,2018-11-03,0,0,The one on Netflix? I watched all of it thursd...
1,2018-11-03,1,0,its November 1st and Netflix covered with Chri...
2,2018-11-03,3,0,Lol just before The Chilling Adventures of Sab...
3,2018-11-03,0,0,"Thank you, @netflix, for getting the licensing..."
4,2018-11-03,0,0,TFW you hear yourself ask your husband to sear...

In [21]:
#clean_group = clean.groupby(['timestamp']).count()
# clean_group['likes_per_day']=clean.groupby('timestamp')['likes'].value_counts()
# clean_group['retweets_per_day']=clean.groupby('timestamp')['retweets'].value_counts()
#pd.clean_group.drop('likes', axis=1, inplace=True)  

#clean_group.head()

            likes  retweets  text
timestamp
2018-11-01   1680      1680  1680
2018-11-02   1680      1680  1680
2018-11-03   1680      1680  1680
2018-11-04   1680      1680  1680
2018-11-05   1680      1680  1680

In [95]:
clean_group.dtypes

likes               int64
retweets            int64
text                int64
tweets_per_day      int64
likes_per_day       int64
retweets_per_day    int64
dtype: object

In [22]:
clean.to_csv('cleanedtweets.csv', index=False)